body > header, body > footer {
  text-align: center;
}

@media only screen 
    and (min-device-width: 768px) 
    and (orientation: landscape) {

  #main-content {
    width: 70%;
    margin: 0 auto;
  }
}

.album {
  padding: 5px;
  text-align: center;
}
