body > header, body > footer {
  text-align: center;
}

@media only screen 
    and (min-device-width: 768px) 
    and (orientation: landscape) {

  #main-content {
    width: 72%;
    margin: 0 auto;
  }

  #shopping-cart-indicator a {
    margin-right: 16%;
  }
}

.error {
  color: red;
}

.album {
  padding: 5px;
  text-align: center;
}

.audio-player.inline {
  display: inline
}

.audio-player .player-control {
  /* background: rgb(237, 235, 191);*/
  border: 0;
  border-radius: 4px;
  width: 20px;
  height: 18px;
  color: rgb(208, 217, 73);
}

form[name="shoppingCart"] .form-group input.form-control  {
  width: 20%;
}

form[name="paymentForm"] .form-group.expiration-date label {
  display: block;
}

form[name="paymentForm"] .form-group.expiration-date input {
  display: inline;
  width: 15%;
}

