<header>
  <hgroup>
    <h1>{{album.title}}</h1>
    <h3>{{album.author}}</h3>
  </hgroup>
</header>

<article class="album-summary col-xs-12 col-md-7">
  <img ng-src="{{album.cover}}" />
  <p>{{album.description}}</p>

  <ul id="reviews">
    <li ng-repeat="review in album.reviews">
      <p>{{review.comment}}</p>
      <p><em>{{review.author}}</em></p>
    </li>
  </ul>
</article>

<ul id="album-tracks" class="col-xs-12 col-md-5 list-unstyled" ng-repeat="track in album.tracks | orderBy: number">
  <li>{{track.number}}. {{track.title}} <em>{{track.duration}}</em> <audio-player data-track="track"></audio-player></li>
</ul>

