<section id="shopping-cart">
  <header>
    <hgroup>
      <h2>Shopping Cart</h2>
    </hgroup>
  </header>

  <form name="shoppingCart" novalidate do-after-validation="checkout()">

    <table id="products" class="table table-stripped">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Donation</th>
        </tr>
      </thead>
      <tbody>
        <tr class="product" ng-repeat="product in items">
          <td>
            <input type="checkbox" name="{{product.id}}-remove" class="remove-item" />
          </td>
          <td><span class="description">{{product.title}}</span></td>
          <td class="form-group">
            <input type="text" name="{{product.id}}_donation" class="form-control donation" ng-model="product.donation" value="(product.donation || 0.00) | currency" required> <span ng-show="! shoppingCart.$valid && shoppingCart.{{product.id}}_donation.$error.required && shoppingCart.$submitted" class="error">*</span>
            <span ng-show="! shoppingCart.$valid && shoppingCart.{{product.id}}_donation.$error.required && shoppingCart.$submitted" class="error">*</span>
          </td>
        </tr>
        <tr>
          <td>
            <button id="remove-from-cart" ng-click="removeFromCart(product)">
              <span class="fa fa-trash" />
            </button>
          </td>
          <td style="text-align: right">Total:</td>
          <td id="total-amount"><strong>{{totalAmount | currency}}</strong></td>
        </tr>
      </tbody>
    </table>

    <input id="checkout" type="submit" value="Checkout" class="btn btn-default" />
    <span ng-show="! shoppingCart.$valid && shoppingCart.$error && shoppingCart.$submitted" class="error" style="margin-left: 5px;">
      Please verify the order as there are some errors
    </span>
  </form>

  <br /><br/>
  or <a href="#/">Continue selecting more albums</a>

  <!-- Checkout -->
  <div ui-view=""></div>
</section>

